{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "privacy/base-resp.html" %}

{% block page_title_suffix %}{% endblock %}
{% block page_title %}{{ _('Mozilla Privacy') }}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block body_id %}privacy-landing{% endblock %}

{% block main_feature %}
  <hgroup id="main-feature" class="center">
    <h1 class="large">{{ _('Mozilla Privacy') }}</h1>
    <h2>{{ _('Putting you in control of your personal information') }}</h2>
  </hgroup>
{% endblock %}

{% block menu_bar %}
  <nav id="top" class="menu-bar billboard">
    <ul>
      <li><a href="#policy">{{ _('Mozilla Privacy Policy') }}</a></li>
      <li><a href="#contact">{{ _('Contact Mozilla') }}</a></li>
      <li><a href="#side-principles">{{ _('Our Privacy Principles') }}</a></li>
      <li><a href="#side-notices">{{ _('Our Privacy Notices') }}</a></li>
      <li><a href="#side-involved">{{ _('Get Involved') }}</a></li>
    </ul>
  </nav>
{% endblock %}

{% block article %}
  <article class="section-content" itemscope itemtype="http://schema.org/Article">
    <header>
      <h1 itemprop="name">Mozilla Privacy Policy</h1>
      <p class="meta"><time datetime="2014-01-09" itemprop="dateModified">January 9, 2014</time></p>
      <p itemprop="description">Your privacy is an important factor that Mozilla (that’s us) considers in the development of each of our products and services. We are committed to being transparent and open and want you to know how we receive information about you, and what we do with that information once we have it.</p>
    </header>
    <div itemprop="articleBody">
      <section>
        <h2>What do we mean by “personal information?”</h2>
        <p>For us, “personal information” means information which identifies you, like your name or email address.</p>
        <p>Any information that falls outside of this is “non-personal information.”</p>
        <p>If we store your personal information with information that is non-personal, we will consider the combination as personal information. If we remove all personal information from a set of data then the remaining is non-personal information.</p>
      </section>
      <section>
        <h2>How do we learn information about you?</h2>
        <p>We learn information about you when:</p>
        <ul>
          <li>you give it to us directly (e.g., when you choose to send us crash reports from Firefox);</li>
          <li>we collect it automatically through our products and services (e.g., when we check whether your version of Firefox is up to date);</li>
          <li>someone else tells us information about you (e.g., Thunderbird works with your email providers to set up your account); or</li>
          <li>when we try and understand more about you based on information you’ve given to us (e.g., when we use your IP address to customize language for some of our services).</li>
        </ul>
      </section>
      <section>
        <h2>What do we do with your information once we have it?</h2>
        <p>When you give us personal information, we will use it in the ways for which you’ve given us permission. Generally, we use your information to help us provide and improve our products and services for you.</p>
      </section>
      <section>
        <h2>When do we share your information with others?</h2>
        <ul>
          <li>When we have gotten your permission to share it.</li>
          <li>For processing or providing products and services to you, but only if those entities receiving your information are contractually obligated to handle the data in ways that are approved by Mozilla.</li>
          <li>When we are fulfilling our <a href="/en-US/about/manifesto/">mission of being open</a>. We sometimes release information to make our products better and foster an open web, but when we do so, we will remove your personal information and try to disclose it in a way that minimizes the risk of you being re-identified.</li>
          <li>When the law requires it. We follow the law whenever we receive requests about you from a government or related to a lawsuit. We’ll notify you when we’re asked to hand over your personal information in this way unless we’re legally prohibited from doing so. When we receive requests like this, we’ll only release your personal information if we have a good faith belief that the law requires us to do so. Nothing in this policy is intended to limit any legal defenses or objections that you may have to a third party’s request to disclose your information.</li>
          <li>When we believe it is necessary to prevent harm to you or someone else. We will only share your information in this way if we have a good faith belief that it is reasonably necessary to protect the rights, property or safety of you, our other users, Mozilla or the public.</li>
          <li>If our organizational structure or status changes (if we undergo a restructuring, are acquired, or go bankrupt) we may pass your information to a successor or affiliate.</li>
        </ul>
      </section>
      <section>
        <h2>How do we store and protect your personal information?</h2>
        <p>We are committed to protecting your personal information once we have it. We implement physical, business and technical security measures. Despite our efforts, if we learn of a security breach, we’ll notify you so that you can take appropriate protective steps.</p>
        <p>We also don’t want your personal information for any longer than we need it, so we only keep it long enough to do what we collected it for. Once we don’t need it, we take steps to destroy it unless we are required by law to keep it longer.</p>
      </section>
      <section>
        <h2>What else do we want you know?</h2>
        <p>We’re a global organization and our computers are in several different places around the world. We also use service providers whose computers may also be in various countries. This means that your information might end up on one of those computers in another country, and that country may have a different level of data protection regulation than yours. By giving us information, you consent to this kind of transfer of your information. No matter what country your information is in, we comply with applicable law and will also abide by the commitments we make in this privacy policy.</p>
        <p>If you are under 13, we don’t want your personal information, and you must not provide it to us. If you are a parent and believe that your child who is under 13 has provided us with personal information, please <a href="/en-US/privacy/#contact">contact us</a> to have your child’s information removed.</p>
      </section>
      <section>
        <h2>What if we change this policy?</h2>
        <p>We may need to change this policy and when we do, we’ll notify you.</p>
      </section>
    </div>
  </article>
  <section id="contact" class="section-content">
    <header>
      <h2>Contact Mozilla</h2>
      <p>
        {%- trans -%}
          If you want to make a correction to your information, or you have any questions about our
          privacy policies, please get in touch with:
        {%- endtrans -%}
      </p>
      <p itemscope itemtype="http://schema.org/Organization">
        <span itemprop="name">Mozilla Corporation</span><br>
        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          {{ _('Attn:') }} <span itemprop="name">Legal Notices - Privacy</span><br>
          <span itemprop="streetAddress">2 Harrison St</span>,<br>
          <span itemprop="addressLocality">San Francisco</span>,
          <span itemprop="addressRegion">CA</span>
          <span itemprop="postalCode">94105</span>
        </span>
      </p>
    </header>
    {% include "privacy/includes/contact.html" %}
  </section>
{% endblock %}

{% block side_extra %}
  <section id="side-notices">
    <h2>{{ _('Our Privacy Notices') }}</h2>
    <p>
      {%- trans -%}
        We created short and clear Privacy Notices to describe how each of our products and services
        receives, shares, and uses data and what your choices are. Learn more:
      {%- endtrans -%}
    </p>
    <nav>
      <ul>
        <li class="policy-websites"><a href="{{ url('privacy.websites.notice') }}">{{ _('Mozilla Websites') }}</a></li>
        <li class="policy-firefox"><a href="{{ url('privacy.firefox.notice') }}">{{ _('Firefox') }}</a></li>
        <li class="policy-firefox"><a href="{{ url('privacy.firefox-os.notice') }}">{{ _('Firefox OS') }}</a></li>
        <li class="policy-thunderbird"><a href="{{ url('privacy.thunderbird.notice') }}" class="policy-thunderbird">{{ _('Thunderbird') }}</a></li>
        <li class="policy-marketplace"><a href="https://marketplace.firefox.com/privacy-policy">{{ _('Marketplace') }}</a></li>
        <li class="policy-persona"><a href="{{ url('persona.privacy-policy') }}">{{ _('Persona') }}</a></li>
        <li class="policy-sync"><a href="https://services.mozilla.com/privacy-policy/">{{ _('Sync') }}</a></li>
        <li class="policy-testpilot"><a href="https://testpilot.mozillalabs.com/privacy.php">{{ _('Test Pilot') }}</a></li>
      </ul>
    </nav>
  </section>
  <section id="side-cookies">
    <h2>{{ _('Cookies and Analytics') }}</h2>
    <p>
      {%- trans link=url('privacy.online-data-tools') -%}
        We use online data tools to improve our products, services, and
        communications. To learn about how this works and what your choices are,
        <a href="{{ link }}">click here</a>.
      {%- endtrans -%}
    </p>
  </section>
  <section id="side-involved">
    <h2>Get Involved</h2>
    <p>
      {%- trans group='https://groups.google.com/forum/?fromgroups#!forum/mozilla.governance' -%}
        To review and comment on proposed changes to our privacy policies <a href="{{ group }}">
        subscribe to Mozilla’s Governance Group</a>.
      {%- endtrans -%}
    </p>
    <p>
      {%- trans blog='https://blog.mozilla.org/privacy/', wiki='https://wiki.mozilla.org/Privacy' -%}
        Our ongoing work on privacy is covered by the <a href="{{ blog }}">Privacy &amp; Data Safety
        Blog</a> and information about our ongoing work is available on <a href="{{ wiki }}">
        Mozilla’s privacy team wiki</a>.
      {%- endtrans -%}
    </p>
  </section>
{% endblock %}
