{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "privacy/base-resp.html" %}

{% set doc = load_doc('firefox-privacy-notice') %}

{% if doc %}
  {% do doc.attr(class='section-content') %}
  {% do doc('article > header').prepend('<img class="logo" src="/media/img/privacy/logo-firefox.png" alt="">') %}
  {% do doc('[itemprop="articleBody"] > section').addClass('highlight').attr('role', 'tablist').attr('aria-multiselectable', 'true') %}
  {% do doc('h3').attr('role', 'tab') %}
  {% do doc('h3 + div').attr('role', 'tabpanel') %}
{% endif %}

{% block page_title %}{% if doc %}{{ doc('h1').html() }}{% else %}{{ _('Firefox Browser Privacy Notice') }}{% endif %}{% endblock %}

{% block body_id %}privacy-firefox{% endblock %}

{% block article %}{{ doc }}{% endblock %}
