{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "privacy/base-resp.html" %}

{% block page_title %}{% if doc %}{{ doc('h1').html() }}{% else %}{{ _('Firefox Browser Privacy Notice') }}{% endif %}{% endblock %}

{% block body_id %}privacy-firefox{% endblock %}

{% block article %}
  <article class="section-content" itemscope itemtype="http://schema.org/Article">
    <header>
      <img class="logo" src="/media/img/privacy/logo-firefox.png" alt="">
      <h1 itemprop="name">Firefox Browser Privacy Notice</h1>
      <p class="meta"><time datetime="2014-01-27" itemprop="dateModified">January 27, 2014</time></p>
      <p>We care about your privacy. When Firefox sends information to Mozilla (that’s us), our <a href="/en-US/privacy/">Mozilla privacy policy</a> describes how we handle that information.</p>
    </header>
    <div itemprop="articleBody">
      <section class="highlight" role="tablist" aria-multiselectable="true">
        <h2>Things you should know</h2>
        <p>Firefox automatically connects to us and our service providers to provide the features below. <a href="https://support.mozilla.org/en-US/kb/how-stop-firefox-automatically-making-connections#w_add-on-blocklist-updating">Click here</a> to learn how to disable automatic connections.</p>
        <section>
          <h3 id="tab-auto-updates" role="tab">To provide automatic browser and add-ons updates</h3>
          <div id="tabpanel-auto-updates" role="tabpanel">
            <p><strong>Browser</strong>. Once per day, Firefox sends the following info to Mozilla when it checks for browser updates: your Firefox version information, language preference, and operating system and version.</p>
            <p><strong>Get Add-ons Page</strong>. Firefox offers a Get Add-ons page of the Add-ons Manager that features popular add-ons and displays personalized recommendations based on the add-ons you already have installed. To display the personalized recommendations, Firefox sends information to Mozilla, including the list of add-ons you have installed, Firefox version information, and your IP address. This communication only happens when the Get Add-ons area is open and can be turned off at any time by following <a href="https://blog.mozilla.org/addons/how-to-opt-out-of-add-on-metadata-updates/">these instructions</a>.</p>
            <p><strong>Add-ons search</strong>. The add-ons manager in Firefox has a search field where you can enter key words to perform searches and Mozilla collects these key word searches to show you recommendations. Firefox also sends us your Firefox version information, locale, and OS.</p>
            <p><strong>Add-ons update</strong>. Your Firefox browser contacts Mozilla once per day to check for add-on information. This includes, for example: browser version, OS and version, locale, total number of requests, time of last request, time of day, IP address, and the list of add-ons you have installed. You can turn off this functionality at any time by following <a href="https://blog.mozilla.org/addons/how-to-opt-out-of-add-on-metadata-updates/">these instructions</a></a>.</p>
          </div>
        </section>
        <section>
          <h3 id="tab-snippets" role="tab">To display snippets from Mozilla on your Firefox start page</h3>
          <div id="tabpanel-snippets" role="tabpanel">
            <p>Firefox’s default home page (&lt;about:home&gt;) loads small bits of information right below the search bar that we think will be useful to you. We call these “snippets”. About once per day, Firefox connects to Mozilla and provides you with new snippets, if available. Mozilla aggregates how often snippets are clicked, snippet name, browser locale, and which version of Firefox you’re using.</p>
            <p>To help display relevant snippets, your Firefox browser sends Mozilla a monthly request to look up your location at a country level using your IP address. We then send that country level information back to your Firefox browser, where it’s stored locally. Your Firefox browser will then choose snippets to show you based on the locally stored country information.</p>
          </div>
        </section>
        <section id="health-report"><!-- in-product link -->
          <h3 id="tab-health-report" role="tab">To provide your Firefox Health Report</h3>
          <div id="tabpanel-health-report" role="tabpanel">
            <p>Firefox Health Report (“FHR”) is designed to provide you with insights about your browser’s stability and performance and with support tips should you experience issues, such as high crash rates or slow startup times. Mozilla collects and aggregates your data with that of other Firefox users to send it back to your browser so you can see how your Firefox performance changes over time. This data includes, for example: device hardware, operating system, Firefox version, add-ons (count and type), timing of browser events, rendering, session restores, length of session, how old a profile is, count of crashes, and count of pages. FHR does not send Mozilla URLs that you visit.</p>
            <p>We use the data sent through FHR to provide users with FHR’s functionality, such as helping you analyze and address performance issues with your browser. We also use what we learn from the FHR data in the aggregate to make Firefox better. You can choose to <a href="https://support.mozilla.org/en-US/kb/firefox-health-report-understand-your-browser-perf#w_how-to-turn-data-sharing-on-or-off">turn data sharing off</a>.</p>
          </div>
        </section>
        <section>
          <h3 id="tab-security" role="tab">To check for malicious or forged web pages, broken add-ons, and third-party issued SSL certificates</h3>
          <div id="tabpanel-security" role="tabpanel">
            <p><strong>Secure Website Certificates</strong>: When you visit a secure website (i.e. “https”), Firefox will validate  the website’s certificate. This may involve communicating with a  third-party status provider specified by the certificate. Firefox sends to this third-party information identifying the site’s <a href="https://support.mozilla.org/en-US/kb/secure-website-certificate">certificate</a>. You can <a href="https://support.mozilla.org/en-US/kb/advanced-settings-browsing-network-updates-encryption#w_certificates-tab">change your preferences</a>, but if you disable the online verification feature, Firefox cannot confirm the identity of the website you are visiting. Turning off this feature may increase the risk of your private information being intercepted. If you encounter an <a href="https://support.mozilla.org/en-US/kb/connection-untrusted-error-message">untrusted connection</a>, you can also choose to send Mozilla the associated certificates.</p>
            <p><strong>Firefox Forgery and Attack Protection</strong>: About twice per hour, Firefox downloads Google’s SafeBrowsing lists to help block access to sites and downloads that are malicious or forged (Google’s privacy policy is at <a href="https://www.google.com/policies/privacy/">https://www.google.com/policies/privacy/</a>). For downloaded executables that do not appear in these lists, Firefox may send metadata to the SafeBrowsing service to determine if the download is malicious. Visit <a href="https://support.mozilla.org/en-US/kb/how-does-phishing-and-malware-protection-work">https://support.mozilla.org/en-US/kb/how-does-phishing-and-malware-protection-work</a> to learn more about or disable Safe Browsing. If you disable these features, Firefox cannot warn you of a potentially illegitimate or malicious websites or downloaded files.</p>
          </div>
        </section>
        <section>
          <h3 id="tab-telemetry-dev" role="tab">To send Mozilla usage statistics for Nightly and Aurora</h3>
          <div id="tabpanel-telemetry-dev" role="tabpanel">
            <p>Aurora and Nightly are test builds of the Firefox browser. Usage Statistics are enabled by default on Aurora and Nightly to provide us with more efficient feedback. This can be disabled in Firefox’s Options/Preferences by deselecting the “Submit performance data” item. See <a href="https://support.mozilla.org/en-US/kb/send-performance-data-improve-firefox">https://support.mozilla.org/en-US/kb/send-performance-data-improve-firefox</a> to learn more about the usage statistics collected.</p>
          </div>
        </section>
        <hr>
        <p>Firefox provides the following optional features and functionality:</p>
        <section>
          <h3 id="tab-sync" role="tab">Sync</h3>
          <div id="tabpanel-sync" role="tabpanel">
            <p><a href="/en-US/mobile/sync/">Firefox Sync</a> is a service that allows you to sync your Firefox bookmarks, browsing history, passwords, and settings across all of your devices. If you use the Sync service, you can read the Firefox Sync privacy notice <a href="https://services.mozilla.com/privacy-policy/">here</a>.</p>
          </div>
        </section>
        <section id="crash-reporter" role="tab"><!-- in-product link -->
          <h3 id="tab-crash-reporter">Crash reporting</h3>
          <div id="tabpanel-crash-reporter" role="tabpanel">
            <p>You have the option to send Mozilla a crash report after Firefox crashes. This report contains technical information for us to improve Firefox including why Firefox crashed, the active URL at time of crash, and the state of computer memory during the crash. The crash report we receive may include personal information. We make portions of crash reports available publicly at <a href="http://crash-stats.mozilla.com/">http://crash-stats.mozilla.com/</a>. Before publicly posting crash reports, we automatically redact personal information. We do not redact anything you may write in the comments box.</p>
          </div>
        </section>
        <section id="telemetry" role="tab"><!-- in-product link -->
          <h3 id="tab-telemetry">Usage statistics (e.g., performance, usage, hardware and customization data) are sent to Mozilla for Firefox Beta and the general release versions of Firefox</h3>
          <div id="tabpanel-telemetry" role="tabpanel">
            <p>In Firefox Beta and the general release version of Firefox, this feature is turned off by default. If you enable this functionality, which provides us with more efficient feedback, you can always disable it in Firefox’s Options/Preferences by simply deselecting the “Submit performance data” item. See <a href="https://support.mozilla.org/en-US/kb/send-performance-data-improve-firefox">https://support.mozilla.org/en-US/kb/send-performance-data-improve-firefox</a> to learn more about the usage statistics collected.</p>
          </div>
        </section>
        <section>
          <h3 id="tab-location" role="tab">Location services</h3>
          <div id="tabpanel-location" role="tabpanel">
            <p>Firefox has a feature that allows sites to request your location (e.g., to allow those sites to show your location on a map). If a site requests your location, Firefox seeks your permission before determining and sharing your location. In order to determine your location, Firefox may use several pieces of data to determine your location, including your operating systems geolocation features, wifi networks, cell phone towers or IP address. Estimating your location involves sending some of this information to Google’s geolocation service, which has it’s own <a href="https://www.google.com/privacy/lsf.html">privacy policy</a>.</p>
          </div>
        </section>
        <section>
          <h3 id="tab-support" role="tab">Support</h3>
          <div id="tabpanel-support" role="tabpanel">
            <p>Firefox provides support via its website: <a href="https://support.mozilla.org/">https://support.mozilla.org/ </a>. Certain Firefox features link to the Firefox support website for additional information. Our support website uses web analytics to understand the problems that users most frequently encounter in Firefox. For more information, please see our <a href="/en-US/privacy/websites/">Websites Privacy Notice</a>.</p>
          </div>
        </section>
      </section>
    </div>
  </article>
{% endblock %}
