{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "privacy/base-resp.html" %}

{% block page_title %}{% if doc %}{{ doc('h1').html() }}{% else %}{{ _('Firefox OS Privacy Notice') }}{% endif %}{% endblock %}

{% block body_id %}privacy-firefox-os{% endblock %}

{% block article %}
  <article class="section-content" itemscope itemtype="http://schema.org/Article">
    <header>
      <img class="logo" src="/media/img/privacy/logo-firefox.png" alt="">
      <h1 itemprop="name">Firefox OS Privacy Notice</h1>
      <p class="meta"><time datetime="2013-05-08" itemprop="dateModified">May 8, 2013</time></p>
      <p>Mozilla cares about your Privacy. When Firefox OS sends information to us, our <a href="/en-US/privacy/">Mozilla Privacy Policy</a> describes how we handle that information.</p>
    </header>
    <div itemprop="articleBody">
      <section class="highlight" role="tablist" aria-multiselectable="true">
        <h3>Things you should know</h3>
        <p id="tab-external-parties" role="tab">Firefox OS connects to us and others in order to provide updates and location services.</p>
        <ul id="tabpanel-external-parties" role="tabpanel">
          <li>Updates: To keep itself up to date, Firefox OS automatically connects to a service operated by or on behalf of the manufacturer of your device. Firefox OS also automatically checks for updates to installed apps by sending a request to the Firefox Marketplace or, if you installed an app from another location, that app’s developer’s services.</li>
          <li>Location: When you turn location services on, Firefox OS may use multiple data points and entities to estimate your location, including GPS, AGPS and other geolocation service providers. You can disable location services in the Firefox OS “Settings” app on your device.</li>
        </ul>
        <hr>
        <p id="tab-location-services" role="tab">The device you are using, like most mobile devices, is created by several parties. This notice only covers how Mozilla handles your information for official versions of Firefox OS authorized by Mozilla.</p>
        <ul id="tabpanel-location-services" role="tabpanel">
          <li>If you use apps made by someone other than Mozilla, their privacy policies will apply.</li>
          <li>The dynamic app search feature of Firefox OS is powered by Everything.me and its privacy policy applies, which you can find at <a href="http://corp.everything.me/ffos-privacy/">http://corp.everything.me/ffos-privacy/</a>.</li>
          <li>Firefox OS allows you to use several integrated third party services, such as your email or social provider. The privacy policy of those services will apply to your use of them.</li>
        </ul>
      </section>
    </div>
    <p><a href="/en-US/privacy/#contact">Contact Us</a></p>
  </article>
{% endblock %}
